.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.box > div{
    color: white;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    margin: 2px auto; 
}

body {
 font-family:Tahoma;
 margin: 8px;
}

.F  {
  width: 80px;
  height: 80px;
  background: #002147;
  transition: width 2s;
}

.F:hover {
  width: 300px;
}
.A{
  background-color: #A4DDED;
  position: relative;
  animation-name: iheree ;
  animation-duration: 4s;
  animation-delay: 2s;
}
@keyframes  iheree {
	25%  {background-color:#0C2340; left:150px; top:10px;}
}
.B {
  height: 80px;
  background-color: #020024; 
  background-image: linear-gradient(to right, #E32636, #9e1b32,#FBCEB1);
}

.D  {
  background-color: #545AA7;
  box-shadow: 10px 10px 5px #5F9EA0;
}
.C{
  background-color: black;
}
.E{
  background-color: black;
}