/*
CSS for the CS142 project #4 Problem #2 states component

Since CSS uses a global name space for classes we should use names starting with
cs142-states- here.
*/
/*
CSS for the CS142 project #4 Problem #2 states component

Since CSS uses a global name space for classes we should use names starting with
cs142-states- here.
*/

.container {
    font-family: monospace;
    transition: all 2s ease-out;
    color: #131329;
 }
 .container h2,h3{
    color: #131329;
 }
 
 #list {
    background-color: #e7c1e2;
 }
 .listItem div{
    background-color: #e7c1e2;
    transition: all .2s ease-in-out;
    font-size:12px;
    box-sizing: border-box;
 }
 .listItem div:hover {
    color:#131329;
    cursor: default;
 }
 #Input {
    height: 40px;
    width: 50%;
    font-size: 20pt;
 }
 .listItem{
    box-sizing: border-box;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding: 50px;
 }